# Prerequisites
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.iobj
*.ipdb

# Visual Studio
.vs
*.vcxproj.user
*.tmp
*.pdb
obj
*.ilk
*.sln
*.vcxproj
*.vcxproj.filters

# Compiled shader files
*.spv